/* Breadcrumb elements
 * 
 * These styles were written to implement the design laid out by Karen Lewis for the Knowlton School of Architecture
-------------------------------------------------------------- */

body div#block-ksa-breadcrumb-ksa-breadcrumb {
	margin-top: -14px;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb ul {
	list-style-type: none;
	display: inline;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb ul li {
	display: inline;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb a {
	color: #6e6e6e;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-root a {
	font-size: 35px;
	display: block;
	color: #b1b1b1;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-parent {
	font-size: 11px;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-parent:after {
	content: ' > ';
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-you a {
	font-size: 11px;
	color: #e31230;
	font-weight: bold;
	padding-right: 1em;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-children a {
font-size: 11px;
	color: #f2858e;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-siblings ul li a.active {
	color: #e31230;
	font-weight: bold;
}
body div#block-ksa-breadcrumb-ksa-breadcrumb .ksa-breadcrumb .breadcrumb-siblings ul li a {
	color: #f2858e;
	font-size: 11px;
}

.ksa-breadcrumb a:hover,
.ksa-breadcrumb a:focus {
	text-decoration: underline;
}

.ksa-breadcrumb .breadcrumb-siblings ul {
	padding-left: 0;
}
.ksa-breadcrumb .breadcrumb-siblings ul li {
	padding-right: 1em;
}
.ksa-breadcrumb .breadcrumb-children ul {
	padding-left: 0;
}
.ksa-breadcrumb .breadcrumb-children ul li {
	padding-right: 1em;
}

.ksa-semantic
{
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

a.ksa-semantic:active, a.ksa-semantic:focus
{
	position: absolute;
	left: 0;
	top: 0;
	overflow: visible;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
}